{% extends "base.html" %}
{% block title %}<title>Comprar Perro</title>{% endblock title %}
{% block contenido %}
<div class="card">
  <h1>Comprar perro</h1>

  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ formulario.as_p }}
    <input type="submit" value="Guardar">
  </form>

  {% if perros_comprados %}
  <hr>
  <p><strong>Raza:</strong> {{ perros_comprados.raza }}</p>
  <p><strong>Tamaño:</strong> {{ perros_comprados.tamaño }}</p>
  {% endif %}
</div>
{% endblock contenido %}


